
@{
    ViewData["Title"] = "Admin Portal";
}

<h1>Admin Portal</h1>
<ul>
    <li>
        <a asp-area="" asp-controller="Admin" asp-action="CurrencyList">Currency List</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Admin" asp-action="CountryList">Currency List</a>
    </li>
</ul>